.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
}
.container .box1{
  display: flex;
  gap: 1rem;
}
.container .box1 button{
  padding: .5rem 1rem;
}
.container .box2{
  display: flex;
  gap: 1rem;
}
.container .box2 button{
  padding: .5rem 1rem;
}
.container .box3{
  display: flex;
  gap: 1rem;
}
.container .box3 button{
  padding: .5rem 1rem;
}